html{
  background-color: #86A8E7;
}


canvas {
  position: absolute;
  top: 25vh;
  left: 25vw;
  
  z-index: 0;
  box-shadow:  20px 20px 0px #6B71D1;
}



.background-inicio{
  position: absolute;
  top: 25vh;
  left: 25vw;
  
  width: 800px;
  height: 400px;
  box-shadow:  20px 20px 0px #6B71D1;
}




.intro {
  position: relative;
  width: 800px;
  height: 400px;
  
}



button {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 43vh;
    left: 45vw;
  
  }




.hearts {
  position: absolute;
  top: 20px;
  left: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 5px;

}

.first-heart {

  width: 40px;
  height: 38px;

}

.second-heart {

  width: 40px;
  height: 38px;

}


.third-heart {

  width: 40px;
  height: 38px;

}


#game-over{
  position: relative;
  
 
}

.game-over{
  
  position: absolute;
  top: 11vh;
  left: 19vw;
  z-index: 10;
}
  
  .hidden {
    display: none;
  }
    
  #restartButton{
  position: absolute;
    width: 200;
    height: 300;
    top: 23vh;
    left: 30vw;
    z-index: 12;
  }
  .high-scores-screen {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6B71D1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .high-scores-screen h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  .high-scores-screen ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color:aliceblue;
    font-family:'Courier New', Courier, monospace; 
    text-align: center;
  }
  
  .high-scores-screen li {
    font-size: 18px;
    margin-bottom: 5px;
    color:aliceblue
  }

  #highScoresButton{
  
    position: absolute;
    top: 23vh;
    left: 25vw;
    z-index: 10;
    
  }

  